<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>Markov chain text generator</title>

    <link rel="stylesheet" href="/Styles/bootstrap.min.css" >
    <script type="text/javascript" src="/Scripts/jquery-1.11.3.min.js"></script>
</head>
<body>
<div class="container">

    <header>
        <div class="jumbotron hidden-xs">
            <h2>Markov chain text generator</h2>
        </div>
        <div class="visible-xs">
            <h2>Markov chain text generator</h2>
        </div>
    </header>
    @RenderBody()
</div>

<script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
</body>
</html>