<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>Markov chain text generator</title>

    <link rel="shortcut icon" href="/Images/icon.ico">
    <link rel="stylesheet" type="text/css" href="/Styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Styles/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/Styles/mcg-custom.css">
    <script type="text/javascript" src="/Scripts/jquery-1.11.3.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" /> <!-- Font Awesome -->
</head>
<body>
<div class="container">

    <header>
        <div id="mcg-title-jumbotron" class="jumbotron hidden-xs">
            <h2>Generator tekstu na podst. łańcucha Markowa</h2>
        </div>
        <div class="visible-xs">
            <h2>Generator tekstu na podst. łańcucha Markowa</h2>
        </div>
    </header>
    @RenderBody()
</div>

    <footer class="mcg-footer">
        <div class="container">
            <ul class="list-inline">
                <li class="mcg-footer-li">
                    <span class="fa fa-github"></span>
                    <a href="https://github.com/ninjah187/pseudorandom-text-generation-web-app.git">
                        <small>Github repo</small>
                    </a>
                </li>
                <li class="mcg-footer-li">
                    <span class="glyphicon glyphicon-envelope"></span>
                    <a href="mailto:karolhnz@gmail.com">
                        <small>Contact with author</small>
                    </a>
                </li>
            </ul>
        </div>
    </footer>

<script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
</body>
</html>