@{
    Layout = "~/Layouts/_BasicLayout.cshtml";
}

<div class="container">
    <div class="col-md-3">
        <div id="mcg-input-form-container">
            <form id="mcg-text-input-piece-form" action="/MarkovChainText/GenerateText/" role="form">
                <div class="form-group">
                    <label for="mcg-input-select">Wybierz tekst:</label>
                    <select id="mcg-input-select" class="form-control mcg-interactive-element">
                        <option value="0">W pustyni i w puszczy</option>
                        <option value="1">Władca pierścieni</option>
                        <option value="255">Twój tekst</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="mcg-custom-sentences-limit-input">Ilość zdań:</label>
                    <input id="mcg-custom-sentences-limit-input" class="form-control mcg-interactive-element" type="text" value="10" />
                    <p class="text-right"><small>Limit: 50</small></p>
                </div>

                <button type="submit" id="mcg-btn-submit" class="btn btn-default text-center mcg-interactive-element">Generuj</button>
            </form>
            <div id="mcg-user-input-text-container">
                <h5>Twój tekst:</h5>
                <textarea id="mcg-user-input-text" class="mcg-interactive-element"></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div id="mcg-output-text-container">
            <h3 id="mcg-output-title">Tekst:<br/><small id="mcg-based-on-text"></small></h3>
            <div id="mcg-output-text"></div>
        </div>
    </div>

</div>
<script type="text/javascript">
function TextGenerationAjaxRequestSender() {
    this.generateTextRequest = null;
}

    $(document).ready(function() {
        var generateTextRequest;

        var $form = $("#mcg-text-input-piece-form");
        var $inputSelect = $("#mcg-input-select");
        var $outputTitle = $("#mcg-output-title");
        var $outputText = $("#mcg-output-text");
        var $basedOnText = $("#mcg-based-on-text");
        var $userInputText = $("#mcg-user-input-text");
        var $customSentencesLimit = $("#mcg-custom-sentences-limit-input");
        
        var $outputTextContainer = $("#mcg-output-text-container");
        var $userInputTextContainer = $("#mcg-user-input-text-container");
        
        var validationPassed = false;

        function validateSentenceLimit() {
            validationPassed = false;

            var value = $customSentencesLimit.val();

            // isFinite(String(value))) - returns true if value is real number

            if (value < 0 || value > 50 || isFinite(String(value)) === false) {
                $customSentencesLimit.css("color", "red");
                return;
            }

            $customSentencesLimit.css("color", "black");
            validationPassed = true;
        }

        function showUserInputText() {
            $userInputTextContainer.animate({
                opacity: "1"
            },
            500,
            function() {
                $userInputText.animate({
                    width: "100%"
                },
                500,
                function () {
                    $(this).animate({
                        height: "250px"
                    }, 500);
                });
            });
        }

        function hideUserInputText() {
            $userInputText.animate({
                height: "0"
            },
            500,
            function () {
                $(this).animate({
                    width: "0"
                },
                500,
                function() {
                    $userInputTextContainer.animate({
                        opacity: "0"
                    }, 500);
                });
            });
        }

        //$userInputTextContainer.hide();

        if ($inputSelect.val() === "255") {
            //$userInputTextContainer.show();
            showUserInputText();
        }

        validateSentenceLimit();

        // http://stackoverflow.com/questions/456177/function-overloading-in-javascript-best-practices
        function executeGenerateTextRequest(userInputText) {
            //var requestUrl = $form.attr("action");

            generateTextRequest = $.ajax({
                url: "/MarkovChainText/GenerateText/",
                type: "POST",
                data: {
                    inputTextType: $inputSelect.val(),
                    userInputText: $userInputText.val(),
                    numberOfSentences: $("#mcg-custom-sentences-limit-input").val()
                }
            });

            generateTextRequest.done(function(response) {
                $outputText.html(response);
            });
        }

        $inputSelect.change(function() {
            if ($(this).val() === "255") {
                showUserInputText();
            } else {
                hideUserInputText();
            }
        });

        
        $customSentencesLimit.change(function () {
            validateSentenceLimit();
        });

        $("#mcg-text-input-piece-form").submit(function(event) {
            event.preventDefault();

            if (validationPassed === false) {
                return;
            }

            $basedOnText.text($inputSelect.find(":selected").text());

            executeGenerateTextRequest();
        });
    });
</script>
